- const title = "Easy Honor Chart"
doctype html
html(lang="km")
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(charset="UTF-8")

		include ../partials/adsence.pug
		title= title
		include ../partials/favicon.pug
		style.
			.cover-bg {
				background-image: url('/images/big-frame-1.png');
				background-size: 100% 100%;
				background-position: center;
			}
			.line {
				border-top: 6px solid #e0b02e; max-width: 80%;
			}
			.arrow {
				position: relative;
				height: 10px;
				width: 6px;
				background-color: #e0b02e;
				display: flex;
				justify-content: center;
			}
			.arrow::after {
				--w: 20px;
				content: "";
				position: absolute;
				width: var(--w);
				height: 10px;
				background-color: #e0b02e;
				clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
				rotate: 180deg;
				bottom: -10px;
			}
	body
		include ../partials/nav.pug

		main
			.container
				div
					label(for="study-year") бһҶбҹ’бһ“бһ¶бҹҶбһҹбһ·бһҖбҹ’бһҹбһ¶
					input#study-year.ml-2
				div
					label(for="grade-number") бһҗбҹ’бһ“бһ¶бһҖбҹӢбһ‘бһё
					select#grade-number.ml-2
						each i in ['бҹ§', 'бҹЁ', 'бҹ©','бҹЎбҹ ', 'бҹЎбҹЎ', 'бҹЎбҹў']
							option(value=i) #{i}
					select#grade-text.ml-2
						each i in ['бһҖ', 'бһҒ', 'бһӮ', 'бһғ', 'бһ„', 'бһ…', 'бһҶ', 'бһҮ', 'бһҲ', 'бһү']
							option(value=i) #{i}
				label(for='names') бһҲбҹ’бһҳбҹ„бҹҮ бһ—бҹҒбһ‘ бһҳбһ»бһҒбһҡбһ”бһҡ бһ“бһ·бһ„ бһӣбҹҒбһҒбһ‘бһјбһҹбһ–бҹ’бһ‘ (бһ•бҹ’бһҠбһ¶бһ…бҹӢбһ–бһёбһӮбҹ’бһ“бһ¶бһҠбҹ„бһҷ "Tab")
				br
				textarea#names(rows="10" cols="100")
					//- |бһӣбҹ„бһҖ бһ бһҝ бһҹбһ¶бһЎбһҳ	бһ”бҹ’бһҡбһ»бһҹ	бһҳбҹҒбһ—бһјбһҳбһ·	097 28 99 145
					//- |бһӣбҹ„бһҖ бһҶбһәбһҷ бһҹбҹҒбһ“бһ¶	бһ”бҹ’бһҡбһ»бһҹ	бһӮбҹ’бһҡбһјбһ”бһ„бҹ’бһҡбҹҖбһ“	097 71 62 623
					//- |бһӣбҹ„бһҖбһҹбҹ’бһҡбһё бһ„бһҪбһ“ бһҹбһ¶бһңбҹҖбһҸ	бһҹбҹ’бһҡбһё	бһ”бҹүбһјбһӣбһ·бһҹ	097 61 70 738
					//- |бһӣбҹ„бһҖ бһ бҹҠбһёбһ„ бһҡбһҹбҹ’бһҳбһё	бһ”бҹ’бһҡбһ»бһҹ	бһҳбһ“бҹ’бһҸбҹ’бһҡбһёбһҹбһ¶бһӣбһ¶бһҹбҹ’бһҡбһ»бһҖ	088 59 49 409
					//- |бһӣбҹ„бһҖ бһҡбһ·бһ‘бҹ’бһ’ бһҹбҹҗбһҖбҹ’бһҖбһҹбһ·бһ‘бҹ’бһ’	бһ”бҹ’бһҡбһ»бһҹ	бһҹбһ·бһҹбҹ’бһҹ	097 94 80 367
					//- |бһҖбһүбҹ’бһүбһ¶ бһҹбҹҶбһўбҹҖ бһҺбһ¶бһҡбһ·бһ“	бһҹбҹ’бһҡбһё	бһҹбһ·бһҹбҹ’бһҹ	088 78 10 525
					//- |бһҖбһүбҹ’бһүбһ¶ бһҹбһ¶бһҡбһ№бһҳ бһҒбҹҒбһ бһ¶	бһҹбҹ’бһҡбһё	бһҹбһ·бһҹбҹ’бһҹ	066 39 78 75

				-let list = ['бһ”бҹ’бһҡбһ’бһ¶бһ“', 'бһўбһ“бһ»бһ”бҹ’бһҡбһ’бһ¶бһ“', 'бһҹбһҳбһ¶бһҮбһ·бһҖбһ‘бһёбҹЎ', 'бһҹбһҳбһ¶бһҮбһ·бһҖбһ‘бһёбҹў', 'бһҹбһҳбһ¶бһҮбһ·бһҖбһ‘бһёбҹЈ', 'бһҹбһҳбһ¶бһҮбһ·бһҖбһ‘бһёбҹӨ', 'бһҹбһҳбһ¶бһҮбһ·бһҖбһ‘бһёбҹҘ']
				each i, index in list
					div
						label(for=`ko-1-image`) бһҡбһјбһ”бһҗбһҸ #{i}
						input.ml-2(id=`ko-${index+1}-image` type="file" accept="image/*")

				.mt-5
					button#view.w-100.bt-primary бһҳбһҫбһӣ

		dialog#dialog
			.flex.item-center.column#document-container(style="background-color: whitesmoke")
				.a4.page.page-1.mb-2.cover-bg
					.flex.row.flex-end.pt-c.pr-c(style="--w: 85px;")
						div
							//- input(hidden)
							h1.m-0.text-center.moul.fs-8 бһ–бҹ’бһҡбҹҮбһҡбһ¶бһҮбһ¶бһҺбһ¶бһ…бһҖбҹ’бһҡбһҖбһҳбҹ’бһ–бһ»бһҮбһ¶
							h2.m-0.text-center.moul.fs-7 бһҮбһ¶бһҸбһ· бһҹбһ¶бһҹбһ“бһ¶ бһ–бҹ’бһҡбҹҮбһҳбһ бһ¶бһҖбҹ’бһҹбһҸбҹ’бһҡ
							h1.m-0.text-center.tacteng 3
					.flex.row.flex-start
						.flex.column.item-center.mt-c.ml-c(style="--mt: -75px;--ml: 55px;")
							img(src="/images/btaphs-logo.png" style="width: 166px;")
							h3.m-0.text-center.moul.fs-7 бһңбһ·бһ‘бҹ’бһҷбһ¶бһӣбҹҗбһҷ бһ”бһ“бҹ’бһ‘бһ¶бһҷбһўбҹҶбһ–бһ·бһӣ
					h2.text-center.moul.mb-0.fs-10(style="color: green") бһҹбҹҖбһңбһ—бҹ…бһӮбһҺбҹҲбһҖбһҳбҹ’бһҳбһҖбһ¶бһҡбһӮбҹ’бһҡбһ”бҹӢбһӮбҹ’бһҡбһ„бһҗбҹ’бһ“бһ¶бһҖбҹӢбһҡбҹҖбһ“
					.flex.row.justify-center
						img(src="/images/btaphs-bg.jpg" style="width: 570px;box-shadow: -15px 15px 10px darkgray;")
					.flex.row.justify-center.mt-c(style="--mt: 35px")
						table
							tr
								td
									h3.m-0.moul бһҗбҹ’бһ“бһ¶бһҖбҹӢбһ‘бһё
								td
									h3.m-0 :
								td
									h3.m-0.moul.danger
										span.show-grade-number 
										span.roboto  <<
										span.show-grade-text
										span.roboto >>
							tr
								td
									h3.moul.m-0.mr-c(style="--mr: 40px;") бһӮбҹ’бһҡбһјбһ”бһ„бҹ’бһҡбҹҖбһ“бһ”бһ“бҹ’бһ‘бһ»бһҖбһҗбҹ’бһ“бһ¶бһҖбҹӢ
								td 
									h3.m-0 :
								td
									h3.moul.ko-2-name.m-0(style="color: #0070c0;") 
							tr
								td
									h3.moul.m-0 бһӣбҹҒбһҒбһ‘бһјбһҡбһҹбһ–бҹ’бһ‘
								td 
									h3.m-0 :
								td
									h3.moul.ko-2-phone.m-0 
							tr
								td
									h3.moul.m-0 бһ”бҹ’бһҡбһ’бһ¶бһ“бһҗбҹ’бһ“бһ¶бһҖбҹӢ
								td 
									h3.m-0 :
								td
									h3.moul.ko-5-name.m-0(style="color: #0070c0;") 
							tr
								td
									h3.moul.m-0 бһӣбҹҒбһҒбһ‘бһјбһҡбһҹбһ–бҹ’бһ‘
								td 
									h3.m-0 :
								td
									h3.moul.ko-5-phone.m-0 
					h2.moul.text-center бһҶбҹ’бһ“бһ¶бҹҶбһҹбһ·бһҖбҹ’бһҹбһ¶ 
						span.show-study-year 

				.a4.page.page-2.mb-2
					.mt-c(style="--mt: 20px")
						h1.m-0.my-2.text-center.moul.fs-8 бһ–бҹ’бһҡбҹҮбһҡбһ¶бһҮбһ¶бһҺбһ¶бһ…бһҖбҹ’бһҡбһҖбһҳбҹ’бһ–бһ»бһҮбһ¶
						h2.m-0.my-2.text-center.moul.fs-7 бһҮбһ¶бһҸбһ· бһҹбһ¶бһҹбһ“бһ¶ бһ–бҹ’бһҡбҹҮбһҳбһ бһ¶бһҖбҹ’бһҹбһҸбҹ’бһҡ
						h1.m-0.my-2.text-center.tacteng 3
						.ml-c(style="--ml:1cm")
							h2.m-0.moul.fs-6 бһҖбһ¶бһҡбһ·бһҷбһ¶бһӣбҹҗбһҷбһўбһ”бҹӢбһҡбҹҶ бһҷбһ»бһңбһҮбһ“ бһ“бһ·бһ„бһҖбһёбһЎбһ¶бһ“бҹғбһҡбһҠбҹ’бһӢбһ”бһ¶бһӣбһҹбҹ’бһҡбһ»бһҖбһ”бһ“бҹ’бһ‘бһ¶бһҷбһўбҹҶбһ–бһ·бһӣ
							h2.m-0.moul.fs-6 бһңбһ·бһ‘бҹ’бһҷбһ¶бһӣбҹҗбһҷбһ”бһ“бҹ’бһ‘бһ¶бһҷбһўбҹҶбһ–бһ·бһӣ
							h2.m-0.moul.fs-6 бһҗбҹ’бһ“бһ¶бһҖбҹӢбһ‘бһё 
								span.show-grade-number 
								span.roboto  <<
								span.show-grade-text
								span.roboto >>
						h1.m-0.mt-2.moul.text-center.fs-8(style="color: #0000ff") бһҡбһ…бһ“бһ¶бһҹбһҳбҹ’бһ–бҹҗбһ“бҹ’бһ’бһӮбһҺбҹҲбһҖбһҳбҹ’бһҳбһҖбһ¶бһҡбһӮбҹ’бһҡбһ”бҹӢбһӮбҹ’бһҡбһ„бһҗбҹ’бһ“бһ¶бһҖбҹӢбһҡбҹҖбһ“ бһҗбҹ’бһ“бһ¶бһҖбҹӢбһ‘бһё 
							span.show-grade-number  
							span.roboto  <<
							span.show-grade-text 
							span.roboto >>
						h1.m-0.mb-2.moul.text-center.fs-8(style="color: #0000ff") бһҶбҹ’бһ“бһ¶бҹҶбһҹбһ·бһҖбҹ’бһҹбһ¶ 
							span.show-study-year
					div
						.flex.row.justify-center
							.flex.column.item-center
								img.ko-1-image.photo-card(src="/images/user.png")
								.flex.column.item-center.bgi-c.pt-3.pb-1.px-c(style="--w: 15px;--img: url('/images/frame-2.png')")
									h3.text-center.ko-1-name.moul.m-0(style="font-size: 10pt;") бһӣбҹ„бһҖ бһўбһј бһҹбҹҶбһ“бһ¶бһ„
									h3.text-center.moul.m-0.danger(style="font-size: 9pt;")  бһ”бҹ’бһҡбһ’бһ¶бһ“
									h3.text-center.ko-1-phone.moul.m-0(style="font-size: 9pt;") бҹ бҹЁбҹЁ бҹЁбҹ бҹў бҹўбҹЁбҹЎбҹЎ
						.flex.row.justify-center.mt-2
							.flex.column.item-center
								img.ko-2-image.photo-card(src="/images/user.png")
								.flex.column.item-center.bgi-c.pt-3.pb-1.px-c(style="--w: 15px;--img: url('/images/frame-2.png')")
									h3.text-center.ko-2-name.moul.m-0(style="font-size: 10pt;") бһӣбҹ„бһҖ бһўбһј бһҹбҹҶбһ“бһ¶бһ„
									h3.text-center.moul.m-0.danger(style="font-size: 9pt;") бһўбһ“бһ»бһ”бҹ’бһҡбһ’бһ¶бһ“
									h3.text-center.ko-2-phone.moul.m-0(style="font-size: 9pt;") бҹ бҹЁбҹЁ бҹЁбҹ бҹў бҹўбҹЁбҹЎбҹЎ
					.mt-2.mx-a.line
						.flex.row.space-between(style="--gap: 20px")
							.arrow
							.arrow
							.arrow
							.arrow
							.arrow
					.flex.row.gap-c.justify-center.mt-3(style="--gap: 20px")
						- let i = 1
						while i <= 5
							.flex.column.item-center
								img.photo-card(class='ko-'+(i+2)+'-image' src="/images/user.png" style="width: 2cm;height: 3cm;")
								.flex.column.item-center.bgi-c.pt-3.pb-1.px-c(style="--w: 10px;--img: url('/images/frame-2.png'); width: 135px;")
									h3.text-center.moul.m-0(class='ko-'+(i+2)+'-name' style="font-size: 8pt;") бһӣбҹ„бһҖ бһўбһј бһҹбҹҶбһ“бһ¶бһ„
									h3.text-center.moul.m-0(style="color: #0070c0;font-size: 7.5pt;") бһҹбһҳбһ¶бһҮбһ·бһҖ
									h3.text-center.fs-4.moul.m-0(class='ko-'+(i+2)+'-phone' style="font-size: 7.5pt;") бҹ бҹЁбҹЁ бҹЁбҹ бҹў бҹўбҹЁбҹЎбҹЎ
							- i++

				.a4.page.page-3.mb-2.p-5
					p.align-justify бһӮбһҺбҹҲбһҖбһҳбҹ’бһҳбһҖбһ¶бһҡбһӮбҹ’бһҡбһ”бҹӢбһӮбҹ’бһҡбһ„бһҗбҹ’бһ“бһ¶бһҖбҹӢбһ‘бһё 
						span.show-grade-number бҹЎбҹ  
						|(
						span.show-grade-text E
						|) бһңбһ·бһ‘бҹ’бһҷбһ¶бһӣбҹҗбһҷ бһ”бһ“бҹ’бһ‘бһ¶бһҷбһўбҹҶбһ–бһ·бһӣ бһҳбһ¶бһ“бһҹбһҳбһ¶бһҹбһ—бһ¶бһ–бһ…бҹҶбһ“бһҪбһ“ бҹ§ бһҡбһјбһ” бһҖбҹ’бһ“бһ»бһ„бһ“бҹ„бҹҮбһҳбһ¶бһ“бһҸбҹҶбһҺбһ¶бһ„бһҳбһ¶бһҸбһ¶бһ”бһ·бһҸбһ¶бһ…бҹҶбһ“бһҪбһ“ бҹЈ бһҡбһјбһ” бһҖбҹ’бһҡбһ»бһҳбһ”бҹ’бһҡбһ№бһҖбҹ’бһҹбһ¶бһҖбһ»бһҳбһ¶бһҡбһҷбһ»бһңбһҮбһ“ бҹЈ бһ“бһ¶бһҖбҹӢ бһ“бһ·бһ„бһӮбҹ’бһҡбһјбһ”бһ“бҹ’бһ‘бһ»бһҖбһҗбҹ’бһ“бһ¶бһҖбҹӢ бҹЎ бһҡбһјбһ”бҹ” бһӮбһҺбҹҲбһҖбһҳбҹ’бһҳбһҖбһ¶бһҡбһӮбҹ’бһҡбһ”бҹӢбһӮбҹ’бһҡбһ„бһҗбҹ’бһ“бһ¶бһҖбҹӢбһҡбҹҖбһ“ бһӮбһәбһҮбһ¶бһҸбҹҶбһҺбһ¶бһ„бһұбҹ’бһҷбһҳбһ¶бһҸбһ¶бһ”бһ·бһҸбһ¶ бһ“бһ·бһ„бһўбҹ’бһ“бһҖбһўбһ¶бһҺбһ¶бһ–бҹ’бһҷбһ¶бһ”бһ¶бһӣбһҹбһ·бһҹбҹ’бһҹбһҖбҹ’бһ“бһ»бһ„бһҗбҹ’бһ“бһ¶бһҖбҹӢбһ‘бһ¶бҹҶбһ„бһўбһҹбҹӢ бһҖбҹ’бһ“бһ»бһ„бһҖбһ¶бһҡбһҠбһ№бһҖбһ“бһ¶бҹҶ бһ“бһ·бһ„бһӮбҹ’бһҡбһ”бҹӢбһӮбҹ’бһҡбһ„бһҹбһҖбһҳбҹ’бһҳбһ—бһ¶бһ–бһҡбҹҖбһ“бһҡбһ”бһҹбҹӢбһҹбһ·бһҹбҹ’бһҹ бһҖбһ¶бһҡбһ”бһ„бҹ’бһҡбҹҖбһ“бһҡбһ”бһҹбҹӢбһӮбҹ’бһҡбһј бһ“бһ·бһ„бһҖбһ¶бһҡбһҖбҹӮбһӣбһҳбҹ’бһўбһ”бһҡбһ·бһҹбҹ’бһҗбһ¶бһ“бһҗбҹ’бһ“бһ¶бһҖбҹӢбһҡбҹҖбһ“бҹ”
					h3.moul.danger.pl-5 I. бһҹбһҳбһ¶бһҹбһ—бһ¶бһ–бһ‘бһ¶бҹҶбһ„ бҹ бҹ§ бһҡбһјбһ” бһ“бҹ„бҹҮбһҳбһ¶бһ“бҹ–
					- const kn = ['бҹЎ', 'бҹў', 'бҹЈ', 'бҹӨ', 'бҹҘ', 'бҹҰ', 'бҹ§']
					- const takeCharges = [ "бһҳбһҫбһӣбһҖбһ¶бһҡбһҒбһ»бһҹбһҸбҹ’бһҡбһјбһңбһ”бҹ’бһҡбһҸбһ·бһ”бһҸбҹ’бһҸбһ·бһҖбһ¶бһҡбһҡбһҪбһҳбһҖбҹ’бһ“бһ»бһ„бһҖбһ¶бһҡбһ’бҹ’бһңбһҫбһ•бҹӮбһ“бһҖбһ¶бһҡ бһ“бһ·бһ„бһўбһ“бһ»бһңбһҸбҹ’бһҸбһ•бҹӮбһ“бһҖбһ¶бһҡбһҖбҹӮбһӣбһҳбҹ’бһўбһҗбҹ’бһ“бһ¶бһҖбҹӢбһҡбҹҖбһ“ бһҠбһҫбһҳбҹ’бһ”бһёбһ’бһ¶бһ“бһ¶бһ”бһ¶бһ“бһҹбһ·бһҹбҹ’бһҹбһҡбҹҖбһ“бһ…бҹҒбҹҮбҹ”", "бһҖбһ¶бһҡбһ„бһ¶бһҡбһ•бҹӮбһ“бһҖбһ¶бһҡ бһ“бһ·бһ„бһҡбһ”бһ¶бһҷбһҖбһ¶бһҡбһҺбҹҚбһҖбҹӮбһӣбһҳбҹ’бһўбһҗбҹ’бһ“бһ¶бһҖбҹӢбһҡбҹҖбһ“бҹ”",  "бһҖбһ¶бһҡбһ„бһ¶бһҡбһ”бҹ’бһҡбһҮбһ»бҹҶбһ–бһ·бһ“бһ·бһҸбҹ’бһҷбһҸбһ¶бһҳбһҠбһ¶бһ“бһ”бҹ’бһҡбһ…бһ¶бҹҶбһҒбҹӮбҹ”", "бһҖбһ¶бһҡбһ„бһ¶бһҡбһ бһ·бһҡбһүбҹ’бһүбһңбһҸбҹ’бһҗбһ» бһ“бһ·бһ„бһ’бһ“бһ’бһ¶бһ“бһҹбһҳбҹ’бһҡбһ¶бһ”бҹӢбһҖбҹӮбһӣбһҳбҹ’бһўбһҗбҹ’бһ“бһ¶бһҖбҹӢбһҡбҹҖбһ“бҹ”", "бһ‘бһ·бһ“бҹ’бһ“бһ“бҹҗбһҷбһҡбһҠбҹ’бһӢбһ”бһ¶бһӣбһҗбҹ’бһ“бһ¶бһҖбҹӢбһҡбҹҖбһ“бҹ”", "бһ‘бһ‘бһҪбһӣбһҖбһ¶бһҡбһҮбһҪбһҷбһҹбһ·бһҹбҹ’бһҹбһҳбһҖбһ–бһёбһӮбҹ’бһҡбһҪбһҹбһ¶бһҡбһҮбһҪбһ”бһҖбһ¶бһҡбһӣбҹҶбһ”бһ¶бһҖ бһ“бһ·бһ„бһҳбһ¶бһ“бһўбҹҶбһ–бһҫбһ бһ№бһ„бҹ’бһҹбһ¶бҹ”", "бһҖбһ¶бһҡбһӮбҹ’бһҡбһ”бҹӢбһӮбҹ’бһҡбһ„бһ”бһҡбһ·бһҹбҹ’бһҗбһ¶бһ“бһҗбҹ’бһ“бһ¶бһҖбҹӢбһҡбҹҖбһ“ бһ“бһ·бһ„бһҹбһ¶бһӣбһ¶бһҡбҹҖбһ“бҹ”"]
					- const positions =  ['бһ”бҹ’бһҡбһ’бһ¶бһ“', 'бһўбһ“бһ»бһ”бҹ’бһҡбһ’бһ¶бһ“', 'бһҹбһҳбһ¶бһҮбһ·бһҖ', 'бһҹбһҳбһ¶бһҮбһ·бһҖ', 'бһҹбһҳбһ¶бһҮбһ·бһҖ', 'бһҹбһҳбһ¶бһҮбһ·бһҖ', 'бһҹбһҳбһ¶бһҮбһ·бһҖ']
					each v, i in kn
						.flex.row
							p.m-0(style="text-indent: -160px;padding-left: 160px;") #{kn[i]}. 
								span(class="ko-"+(i+1)+"-name0")  
								span.moul(style="color: #0070c0;" class="ko-"+(i+1)+"-name")   
								|  бһ—бҹҒбһ‘ 
								span(id='ko-'+(i+1)+'-gender') бһ”бҹ’бһҡбһ»бһҹ 
								| бһҳбһ»бһҒбһҡбһ”бһҡ 
								span(id='ko-'+(i+1)+'-job') бһўбһ¶бһҮбһёбһңбһҖбһҡ 
								| бһҮбһ¶
								span= positions[i] 
								| бһӣбҹҒбһҒбһ‘бһјбһҡбһҹбһ–бҹ’бһ‘(
								span(class='ko-'+(i+1)+'-phone').danger бҹ бҹЁбҹЁ бҹЁбҹ бҹў бҹўбҹЁбҹЎбҹЎ
								|)
								br
								string бһ‘бһ‘бһҪбһӣбһ”бһ“бҹ’бһ‘бһ»бһҖбҹ– #{takeCharges[i]}

				.a4.page.page-4.mb-2.p-5
					h3.moul.danger.pl-5 II.	бһҸбһ¶бһҡбһ¶бһ„бһ•бҹӮбһ“бһҖбһ¶бһҡбһҹбһҖбһҳбҹ’бһҳбһ—бһ¶бһ–бһ”бҹ’бһҡбһ…бһ¶бҹҶбһҶбҹ’бһ“бһ¶бҹҶ
					table.mt-2.w-100.border
						tr
							th.moul(rowspan="2") бһҹбһҖбһҳбҹ’бһҳбһ—бһ¶бһ–
							th.moul(colspan="9") бһҖбһ¶бһӣбһңбһ·бһ—бһ¶бһӮ
						tr
							th(style="width: 42px") бҹЎбҹЎ
							th(style="width: 42px") бҹЎбҹў
							th(style="width: 42px") бҹЎ
							th(style="width: 42px") бҹў
							th(style="width: 42px") бҹЈ
							th(style="width: 42px") бҹӨ
							th(style="width: 42px") бҹҘ
							th(style="width: 42px") бҹҰ
							th(style="width: 42px") бҹ§
						- 
							const actions = [
								["бҹЎ. бһ…бһјбһӣбһҡбһҪбһҳбһҖбҹ’бһ“бһ»бһ„бһҹбһҖбһҳбҹ’бһҳбһ—бһ¶бһ–бһҸбҹҒбһҹбҹ’бһҸбһҠбһҫбһҳбһҶбҹ’бһ“бһ¶бҹҶ","вң“","","","","","","","",""],
								["бҹў. бһ…бһјбһӣбһҡбһҪбһҳбһҠбһ№бһ„бһ® бһ“бһ·бһ„бһӮбһ¶бҹҶбһ‘бҹ’бһҡбһ•бҹӮбһ“бһҖбһ¶бһҡбһҹбһ·бһҖбҹ’бһҹбһ¶бһҶбҹ’бһ“бһ¶бҹҶбһҡбһ”бһҹбҹӢбһҹбһ·бһҹбҹ’бһҹ","вң“","","","","","","","",""],
								["бҹЈ. бһ…бһјбһӣбһҡбһҪбһҳбһҠбһ№бһ„бһ®бһ“бһ·бһ„бһӮбһ¶бҹҶбһ‘бҹ’бһҡбһ•бҹӮбһ“бһҖбһ¶бһҡбһ”бһ„бҹ’бһҡбҹҖбһ“бҹЈбһҶбҹ’бһ“бһ¶бҹҶбһҡбһ”бһҹбҹӢбһӮбҹ’бһҡбһј","вң“","","","","","","","",""],
								["бҹӨ. бһ…бһјбһӣбһҡбһҪбһҳбһҠбһ№бһ„бһ® бһ“бһ·бһ„бһӮбһ¶бҹҶбһ‘бҹ’бһҡбһ•бҹӮбһ“бһҖбһ¶бһҡбһ”бһ„бҹ’бһҡбҹҖбһ“бҹЈбһҒбҹӮбһҡбһ”бһҹбҹӢбһӮбҹ’бһҡбһј","вң“","","вң“","","","вң“","","","вң“"],
								["бҹҘ. бһ…бһјбһӣбһҡбһҪбһҳбһҹбһҖбһҳбҹ’бһҳбһ—бһ¶бһ–бһҖбҹӮбһӣбһҳбҹ’бһўбһҗбҹ’бһ“бһ¶бһҖбҹӢбһҡбҹҖбһ“","вң“","вң“","","","","","вң“","",""],
								["бҹҰ. бһ”бҹ’бһҡбһҮбһ»бҹҶбһ–бһ·бһ“бһ·бһҸбҹ’бһҷбһҸбһ¶бһҳбһҠбһ¶бһ“бһӣбһ‘бҹ’бһ’бһ•бһӣбһҹбһ·бһҖбҹ’бһҹбһ¶бһҹбһ·бһҹбҹ’бһҹбһ”бҹ’бһҡбһ…бһ¶бҹҶбһҒбҹӮ","вң“","вң“","вң“","вң“","вң“","вң“","вң“","вң“","вң“"],
								["бҹ§. бһҳбһ¶бһҸбһ¶бһ”бһ·бһҸбһ¶бһҳбһҖбһҹбһ„бҹ’бһҖбҹҒбһҸбһҖбһјбһ“бһҡбҹҖбһ“бһҖбҹ’бһ“бһ»бһ„бһҗбҹ’бһ“бһ¶бһҖбҹӢбһ”бһ¶бһ“бҹўбһҠбһ„бҹЎбһҶбҹ’бһ“бһ¶бҹҶ","вң“","","","","","","","",""],
							]
						each a in actions
							tr
								each b, i in a
									if i == 0
										td= b
									else
										if b != "вң“"
											td.text-center= b
										else
											td.text-center(style="background-color: #8eaadb")= b
					.flex.row.flex-end
						div
							h4#lunarDate.text-center.mb-0.indent-0.text-center
							h4.m-0.indent-0.text-center бһ”бһ“бҹ’бһ‘бһ¶бһҷбһўбҹҶбһ–бһ·бһӣ  
								span#normalDate
							h4.moul.m-0.indent-0.text-center бһӮбҹ’бһҡбһјбһ”бһ“бҹ’бһ‘бһ»бһҖбһҗбҹ’бһ“бһ¶бһҖбҹӢ
							br
							br
							br
							h4.ko-2-name.moul.text-center.m-0(style="padding-left: 80px;") бһ’бһҝбһҸ бһңбһ¶бһҹбһ“бһ¶
					.flex.row.flex-start
						.w-50.pr-5
							br
							h4.text-center.m-0 бһ”бһ¶бһ“бһғбһҫбһү бһ“бһ·бһ„бһҜбһҖбһ—бһ¶бһ–
							h4.text-center.m-0.moul бһ“бһ¶бһҷбһҖбһҹбһ¶бһӣбһ¶
							br
							br
							br
							br
					p.text-center.indent-0 бһ”бһ¶бһ“бһғбһҫбһү бһ“бһ·бһ„бһҜбһҖбһ—бһ¶бһ–
					h4.text-center.moul бһӮбһҺбҹҲбһҖбһҳбҹ’бһҳбһҖбһ¶бһҡбһӮбҹ’бһҡбһ”бҹӢбһӮбҹ’бһҡбһ„бһҹбһ¶бһӣбһ¶бһҡбҹҖбһ“
				br
				br
				.flex.row.flex-end.gap-5(style="width: 21cm;")
					button#close-dialog бһ”бһ·бһ‘
					button#download.bt-primary бһ‘бһ¶бһүбһҷбһҖ


		script(src='../helpers/link.helper.ts').
		script(type='module' src='./index.ts').