- const title = "Easy Honor Chart"
doctype html
html(lang="km")
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(charset="UTF-8")

		include ../partials/adsence.pug
		title= title
		include ../partials/favicon.pug
	body
		include ../partials/nav.pug

		main
			.container
				div
				- let i = 1
				- const localNumber = ['бҹЎ','бҹў','бҹЈ','бҹӨ','бҹҘ']
					div
						label(for='grade') бһҗбҹ’бһ“бһ¶бһҖбҹӢ
						input#grade.ml-2(type="text")

					div
						label(for='resultFor') бһҹбһҳбҹ’бһҡбһ¶бһ”бҹӢ
						select#resultFor.ml-2
							for i in ['бһҒбҹӮбһңбһ·бһ…бҹ’бһҶбһ·бһҖбһ¶','бһҒбҹӮбһ’бҹ’бһ“бһј','бһҒбҹӮбһҳбһҖбһҡбһ¶','бһҒбҹӮбһҖбһ»бһҳбҹ’бһ—бҹҲ','бһҒбҹӮбһҳбһёбһ“бһ¶','бһҒбҹӮбһҳбҹҒбһҹбһ¶','бһҒбҹӮбһ§бһҹбһ—бһ¶','бһҒбҹӮбһҳбһ·бһҗбһ»бһ“бһ¶','бһҒбҹӮбһҖбһҖбҹ’бһҖбһҠбһ¶','бһҒбҹӮбһҹбһёбһ бһ¶','бһҶбһҳбһ¶бһҹбһ‘бһё бҹЎ','бһҶбһҳбһ¶бһҹбһ‘бһё бҹў','бһ”бҹ’бһҡбһ…бһ¶бҹҶбһҶбҹ’бһ“бһ¶бҹҶ']
								option(value=`${i}`) #{i}
					while i <= 5
						div

							label(for=`student-${i}`) бһҲбҹ’бһҳбҹ„бҹҮбһҹбһ·бһҹбҹ’бһҹбһ‘бһё #{localNumber[i - 1]}
							input.ml-2(id=`student-${i}` type="text")

							label.ml-5(for=`student-${i}-grade`) бһ…бҹҶбһҺбһ¶бһҸбҹӢбһҗбҹ’бһ“бһ¶бһҖбҹӢ
							select.ml-2(id=`student-${i}-grade`)
								- let j = 1
									while j <= 5
										if i == j
											option(value=`${localNumber[j - 1]}` selected) #{localNumber[j - 1]}
										else
											option(value=`${localNumber[j - 1]}`) #{localNumber[j - 1]}
										- j++

							label.ml-5(for=`student-${i}-image`) бһҡбһјбһ”бһҗбһҸ
							input.ml-2(id=`student-${i}-image` type="file" accept="image/*")
							- i++

				.mt-5
					button#bt-show.bt-primary(style="width:100%") бһҳбһҫбһӣ

		dialog#dialog
			div#honor-chart.flex.justify-center
				.a4.p-c.relative.shadow(style="--w: 2rem")
					each i in [1,2,3,4]
						img(src='/images/frame-1.png' class=`frame frame-${i}` alt="" style=`rotate: ${(i - 1) * 90}deg`)
					h3.text-center.moul.m-0 бһ–бҹ’бһҡбҹҮбһҡбһ¶бһҮбһ¶бһҺбһ¶бһ…бһҖбҹ’бһҡбһҖбһҳбҹ’бһ–бһ»бһҮбһ¶
					h4.text-center.moul.m-0 бһҮбһ¶бһҸбһ· бһҹбһ¶бһҹбһ“бһ¶ бһ–бҹ’бһҡбҹҮбһҳбһ бһ¶бһҖбҹ’бһҹбһҸбҹ’бһҡ
					h4.text-center.tacteng.m-0 3
					h4.moul.m-0 бһҳбһ“бҹ’бһ‘бһёбһўбһ”бҹӢбһҡбҹҶ бһҷбһ»бһңбһҮбһ“ бһ“бһ·бһ„бһҖбһёбһЎбһ¶бһҒбҹҒбһҸбҹ’бһҸбһ§бһҸбҹ’бһҸбһҡбһҳбһ¶бһ“бһҮбҹҗбһҷ
					h4.moul.m-0 бһңбһ·бһ‘бҹ’бһҷбһ¶бһӣбҹҗбһҷбһ”бһ“бҹ’бһ‘бһ¶бһҷбһўбҹҶбһ–бһ·бһӣ
					h4.m-0.moul бһҗбҹ’бһ“бһ¶бһҖбҹӢбһ‘бһёбҹ– 
						span#show-grade.moul
					h2.text-center.moul.m-0 бһҸбһ¶бһҡбһ¶бһ„бһҖбһ·бһҸбҹ’бһҸбһ·бһҷбһҹ
					h4.text-center.moul.m-0 бһҹбһҳбҹ’бһҡбһ¶бһ”бҹӢ 
						span#show-resultFor.moul

					.flex.row.justify-center.mt-2
						.flex.column.item-center
							img(src='/images/user.png').photo-card#show-student-1-image
							h3#show-student-1-grade.text-center.moul.m-0

					table.w-100
						tr
							td
								.flex.column.item-center
									img(src='/images/user.png').photo-card#show-student-2-image
									h3#show-student-2-grade.text-center.moul.m-0
							td
								.flex.column.item-center
									img(src='/images/user.png').photo-card#show-student-3-image
									h3#show-student-3-grade.text-center.moul.m-0

						tr
							td
								.flex.column.item-center
									img(src='/images/user.png').photo-card#show-student-4-image
									h3#show-student-4-grade.text-center.moul.m-0
							td
								.flex.column.item-center
									img(src='/images/user.png').photo-card#show-student-5-image
									h3#show-student-5-grade.text-center.moul.m-0
					table.w-100.my-5
						tr
							td
							td
							td
								h3.m-0.text-center
									span ............ бһҗбҹ’бһ„бҹғбһ‘бһё 
									span#date
									span бһҒбҹӮ 
									span#month
									span бһҶбҹ’бһ“бһ¶бҹҶ 
									span#year
						tr
							td
								h3.m-0.text-center бһ”бһ¶бһ“бһғбһҫбһү бһ“бһ·бһ„бһҜбһҖбһ—бһ¶бһ–
							td
							td
								h3.m-0.moul.text-center бһӮбҹ’бһҡбһјбһ”бһ“бҹ’бһ‘бһ»бһҖбһҗбҹ’бһ“бһ¶бһҖбҹӢ
						tr.mt-5
							td 
								h3.m-0.moul.text-center бһ“бһ¶бһҷбһҖбһҹбһ¶бһӣбһ¶
							td.w-25
							td
			.flex.justify-center.mt-5
				.flex.row.flex-right.mt-5(style="width: 21cm")
					button#download.bt-primary бһ‘бһ¶бһүбһҷбһҖ
		script(src='../helpers/link.helper.ts').
		script(type='module' src='./index.ts').